<section id="about" class="section-padding d-flex">
  <div class="container d-flex flex-column justify-content-center">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Be Cool</h1>
                  <div class="line"></div>
                  <p>Somos un equipo multidisciplinario comprometido con el bienestar social y el desarrollo humano, con énfasis en temas del ser y el cuidado mental.</p>
              </div>
          </div>
      </div>
      <div class="mx-auto">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <div class="about-item text-center">
                        <fa-icon [icon]="faBook" class="iconos"></fa-icon>
                        <h3>MISSION</h3>
                        <hr>
                        <p> Promover programas, productos, servicios y acciones que contribuyan al mejoramiento de la calidad de vida y formación integral de la comunidad.  </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class="about-item text-center">
                        <fa-icon [icon]="faGlobe" class="iconos"></fa-icon>
                        <h3>VISION</h3>
                        <hr>
                        <p> Dirigir el cambio necesario para constituirnos en la primera entidad de bienestar dentro del ámbito universitario o laboral, que primordicen el confort y pueda posicionarse como líder en crear hábitos saludables en la vida de las personas. </p>
                        </div>
                    </div>
                 </div>
               </div>
         </div>
    </div>
  </div>
</section>
