<app-navlogin></app-navlogin>
<section id="contact" style="background-color: #141D37;">
  <div class="container pt-5">
      <div class="row">
          <div class="col-12 text-center">
              <div>
                  <h1 class="display-4 text-white fw-semibold">Conéctate con Be Cool</h1>
                  <div class="line"></div>
                  <p class="text-white pb-2">¡Te llamaremos rapidamente!</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <form action="#" class="row g-3 p-lg-5 p-4 bg-white theme-shadow">
                  <div class="form-group col-lg-6">
                      <input type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="form-group col-lg-6">
                      <input type="text" class="form-control" placeholder="Apellido">
                  </div>
                  <div class="form-group col-lg-12">
                      <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group col-lg-12">
                      <input type="text" class="form-control" placeholder="Encabezado (cita con especialista, quiero ser parte de Be Cool; etc)">
                  </div>
                  <div class="form-group col-lg-12">
                      <textarea name="message" rows="5" class="form-control" placeholder="Mensaje"></textarea>
                  </div>
                  <div class="form-group col-lg-12 d-grid">
                      <button class="btn btn-primary">Enviar mensaje</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
