<nav class="navbar navbar-expand-lg bg-white sticky-top">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img src="../../assets/images/darlogoc.png" alt="Logo">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#hero">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Be cool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reviews">Comentarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Equipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
            </ul>
            <a class="btn btn-primary ms-2"  routerLink="/login">Iniciar sesión</a>
        </div>
    </div>
</nav>

<!-- btn btn-brand ms-log3 -->
