<app-navlogin></app-navlogin>
<div class="main-container">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Gratis</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 cursos gratis</li>
              <li>Sesión gratuita todos los jueves</li>
              <li>5% descuento tienda</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Registrate</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Mensualidad</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Salida gratis Eco-Turismo</li>
              <li>Descuento especial por curso</li>
              <li>10% descuento tienda</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Anual</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Acceso ilimitado a salidas Eco-turismo</li>
              <li>15% descuento tienda</li>
              <li>Cursos exclusivos</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">¡Lo quiero!</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
