<section id="reviews" class="section-padding bg-light">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Comentarios</h1>
                  <div class="line"></div>
                  <p>¡Amamos crear experiencias nuevas en nuestros clientes! <fa-icon [icon]="faHeart"></fa-icon> </p>
              </div>
          </div>
      </div>
      <div class="row gy-5 gx-4">
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>El curso de inteligencia emocional es super increible. ¡Lo recomiendo un montón!</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-1.jpg" alt="">
                      <div class="ms-3">
                          <h5>Dianne Russell</h5>
                          <small>Programador</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>Los articulos de la tienda son de muy buena calidad.</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-2.jpg" alt="">
                      <div class="ms-3">
                          <h5>Steven Curry</h5>
                          <small>Pintor</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>¡Amo Be Cool!</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-3.jpg" alt="">
                      <div class="ms-3">
                          <h5>Valentin Gomez</h5>
                          <small>Astronauta</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>¡Gracias equipo Be Cool!</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-4.jpg" alt="">
                      <div class="ms-3">
                          <h5>Santiago Bernabeu</h5>
                          <small>Psicólogo</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>Los profesores son maravillosos, atienden las inquietudes al instante.</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-5.jpg" alt="">
                      <div class="ms-3">
                          <h5>Simón Bolivar</h5>
                          <small>Emprendedor</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="review">
                  <div class="review-head p-4 bg-white theme-shadow">
                      <div class="text-warning">
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                          <fa-icon [icon]="faStar"></fa-icon>
                      </div>
                      <p>El tema de las membresías me hace ahorrar mucho dinero.</p>
                  </div>
                  <div class="review-person mt-4 d-flex align-items-center">
                      <img class="rounded-circle" src="./assets/images/avatar-6.jpg" alt="">
                      <div class="ms-3">
                          <h5>Alberto Einstein</h5>
                          <small>Científico de datos</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
