<app-navloginimg></app-navloginimg>
<div class="main-container">
  <div class="login-main_container">
    <div class="login-form">
        <p class="mid"><i class="fa-thin fa-dash"></i></p>
        <input id="usuario" type="text" class="form-control" name="username" placeholder="Usuario">
        <input id="email" type="text" class="form-control" name="email" placeholder="Correo">
        <input id="contraseña" type="password" class="form-control" name="password" placeholder="Contraseña">
        <br>
        <button id="boton" class="third-boton">Inicia sesión</button>
        <br>
        <div>
            <p class="forgot-pasword">¿Ya tienes una cuenta?</p>
        </div>
        <div class="div-register">
          <a routerLink="/login">Inicia sesión</a>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
