<app-navlogin></app-navlogin>
<main class="container-main">
  <div class="titulo">
    <h1>Curso</h1>
  </div>
  <div class="main">
    <div class="cursos">
         <div class="curso">
              <p>Video 1</p>
         </div>
         <div class="curso">
              <p>Video 2</p>
         </div>
         <div class="curso">
              <p>Video 3</p>
         </div>
         <div class="curso">
              <p>Video 4</p>
         </div>
    </div>
    <div class="apartadoprincipal">
         <div class="pantalla">
              <video src="img/y2mate.com - Tu Primera Clase de Yoga Nivel principiante_480p.mp4" controls></video>

         </div>
         <div class="infocurso">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officia placeat odio ipsam quia assumenda voluptatem distinctio, sunt nam veritatis sequi? Quae facilis commodi eligendi laborum quisquam quia facere illum.</p>
        </div>
    </div>
    <div class="comentarios">
         <div class="comentario">
              <h6>Comentarios</h6>
         </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
