<section id="services" class="section-padding border-top">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Servicios</h1>
                  <div class="line"></div>
              </div>
          </div>
      </div>
      <div class="row g-4 text-center">
          <div class="col-lg-4 col-sm-6">
              <div class="service theme-shadow p-lg-5 p-4">
                  <div class="iconbox">
                      <fa-icon [icon]="faHouse"></fa-icon>
                  </div>
                  <h5 class="mt-4 mb-3">Bienestar desde casa</h5>
                  <p>Cursos interactivos para desarrollar en casa y con apoyo psicosocial.</p>
                  <button class="btn btn-primary botones" routerLink="/cursos">Conoce más</button>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service theme-shadow p-lg-5 p-4">
                  <div class="iconbox">
                      <fa-icon [icon]="faBasketShopping"></fa-icon>
                  </div>
                  <h5 class="mt-4 mb-3">Tienda de bienestar</h5>
                  <p>Oferta de productos relacionados con el bienestar y el ejercicio en casa.</p>
                  <button class="btn btn-primary botones" routerLink="/tienda">Conoce más</button>
                </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service theme-shadow p-lg-5 p-4">
                  <div class="iconbox">
                      <fa-icon [icon]="faHeart"></fa-icon>
                  </div>
                  <h5 class="mt-4 mb-3">Contacto profesional</h5>
                  <p class="p-small">Disponibilidad y agenda de cita con profesionales del area.</p>
                  <button class="btn btn-primary botones" routerLink="/contact">Conoce más</button>
                </div>
          </div>
      </div>
  </div>
</section>

<section id="counter" class="section-padding">
  <div class="container text-center">
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6">
              <h1 class="text-white display-4">900+</h1>
              <h6 class="text-uppercase mb-0 text-white mt-3"> Usuarios Totales</h6>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h1 class="text-white display-4">300+</h1>
              <h6 class="text-uppercase mb-0 text-white mt-3">Cursos disponibles</h6>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h1 class="text-white display-4">100k+</h1>
              <h6 class="text-uppercase mb-0 text-white mt-3">Productos en venta</h6>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h1 class="text-white display-4">5</h1>
              <h6 class="text-uppercase mb-0 text-white mt-3">Miembros de equipo</h6>
          </div>
      </div>
  </div>
</section>
