<section id="blog" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Blogs recientes Be Cool</h1>
                  <div class="line"></div>
                  <p>¡Un lugar para aprender de una mejor forma!</p>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="post-box Fisica col-4">
          <img src="../../assets/images/foto-post-4.jpg" alt="" class="post-img">
          <h2 class="category">Fisica</h2>
          <a href="post-page.html" class="post-title">
              ¿Qué hacer ante una lesión?
          </a>
          <span class="post-date">21 Dic 2022</span>
          <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cupiditate eum
              hic...</p>
              <a href="" class="readme">read more</a>
          <div class="profile">
              <img src="../../assets/images/foto-perfil-6.jpg" alt="" class="profile-img">
              <span class="profile-name">Juan Garcia</span>
          </div>
      </div>

         <!--  //Post de ed fisica -->
          <div class="post-box Fisica col-4">
            <img src="../../assets/images/foto-post-5.jpg" alt="" class="post-img">
            <h2 class="category">Fisica</h2>
            <a href="post-page.html" class="post-title">
                mejora tu estado fisico
            </a>
            <span class="post-date">20 Nov 2022</span>
            <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cupiditate eum
                hic...
               </p>
                <a href="" class="readme">read more</a>
            <div class="profile">
                <img src="../../assets/images/foto-perfil-5.jpg" alt="" class="profile-img">
                <span class="profile-name">Danilo Gómez</span>
            </div>
        </div>
        <!-- //Post 2 de ed fisica -->
          <div class="post-box Fisica col-4">
            <img src="../../assets/images/foto-post-6.jpg" alt="" class="post-img">
            <h2 class="category">Fisica</h2>
            <a href="post-page.html" class="post-title">
                ¿Qué hacer ante una lesión?
            </a>
            <span class="post-date">21 Dic 2022</span>
            <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cupiditate eum
                hic...
                </p>
                <a href="" class="readme">read more</a>
            <div class="profile">
                <img src="../../assets/images/foto-perfil-3.jpg" alt="" class="profile-img">
                <span class="profile-name">Juan Garcia</span>
            </div>
        </div>
      </div>
  </div>
  <div class="lines"></div>
  <div class="mas row w-50 ">
    <div class="col text-center">
      <h6 class="text-body-secundary">¡Si deseas conocer más de nuestros articulos, dale clic al botón de abajo!</h6>
      <a class="btn btn-primary w-25 col" routerLink="/blogs">Blogs</a>
    </div>
  </div>
</section>



