@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--color-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.team-member-content {
  background-color: var(--color-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

.image-zoom {
  position: relative;
  overflow: hidden;
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
  height: 340px;
}

.image-zoom-wrapper img{
   transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}
