<section id="team" class="section-padding">
 <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Equipo Be Cool</h1>
                  <div class="line"></div>
              </div>
          </div>
      </div>
  <swiper
     [slidesPerView]='5'
     [spaceBetween]='20'
  >
      <ng-template swiperSlide>
        <div class="team-member image-zoom">
          <div class="image-zoom-wrapper">
              <img src="../../assets/images/change.jpg" alt="">
          </div>
          <div class="team-member-content">
              <h4 class="text-white">Estevan</h4>
              <p class="mb-0 text-white">Diseñador</p>
          </div>
      </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="team-member image-zoom">
          <div class="image-zoom-wrapper">
              <img src="../../assets/images/santi.jpg" alt="">
          </div>
          <div class="team-member-content">
              <h4 class="text-white">Santiago</h4>
              <p class="mb-0 text-white">Profesor</p>
          </div>
      </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="team-member image-zoom">
          <div class="image-zoom-wrapper">
              <img src="../../assets/images/daniela.jpg" alt="">
          </div>
          <div class="team-member-content">
              <h4 class="text-white">Daniela</h4>
              <p class="mb-0 text-white">Psicóloga</p>
          </div>
      </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="team-member image-zoom">
          <div class="image-zoom-wrapper">
              <img src="../../assets/images/duv.jpg" alt="">
          </div>
          <div class="team-member-content">
              <h4 class="text-white">Holger</h4>
              <p class="mb-0 text-white">Programador</p>
          </div>
      </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="team-member image-zoom">
          <div class="image-zoom-wrapper">
              <img src="../../assets/images/DSC_0130.JPG" alt="">
          </div>
          <div class="team-member-content">
              <h4 class="text-white">Samuel</h4>
              <p class="mb-0 text-white">Manager</p>
          </div>
      </div>
      </ng-template>
  </swiper>
  </div>
</section>
