<footer class="bg-dark">
  <div class="footer-top">
      <div class="container">
          <div class="row gy-5">
              <div class="container-social-media">
                  <a href="#"><img src="../../assets/images/whitelogo.png" alt="logo_BeCool"></a>
                  <div class="line"></div>
                  <div class="social-icons">
                      <a href="#">
                       <fa-icon [icon]="faFacebook"></fa-icon>
                      </a>
                      <a href="">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                      </a>
                      <a href="">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <h5 class="mb-0 text-white">Servicios</h5>
                  <div class="line"></div>
                  <ul class="ul-servicios">
                      <li><a href="#" routerLink="/tienda">Articulos para la salud emocional y física</a></li>
                      <li><a href="#" routerLink="/blogs">Blogs</a></li>
                      <li><a href="#" routerLink="/contact">Citas con especialistas</a></li>
                      <li><a href="#" routerLink="/cursos">Cursos apropiados para el momento</a></li>

                  </ul>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <h5 class="mb-0 text-white">Atención al cliente</h5>
                  <div class="line"></div>
                  <ul>
                      <li>
                          <fa-icon [icon]="faPhone"></fa-icon>
                          +57 123 456 78
                      </li>
                      <li><fa-icon [icon]="faEnvelope"></fa-icon>becoolalcliente@gmail.com</li>
                      <li>
                          <fa-icon [icon]="faSquarPhone"></fa-icon>
                          604 123 456
                      </li>
                  </ul>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <h5 class="mb-0 text-white">Ubicación</h5>
                  <div class="line"></div>
                  <ul class="ul-ubicacion">
                      <li>Medellin, Colombia</li>
                      <li>Bogota, Colombia</li>
                      <li>Cali, Colombia</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row g-4 justify-content-between">
              <div class="col-auto">
                  <p class="mb-0">© Copyright Be Cool. All Rights Reserved</p>
              </div>
              <div class="col-auto">
                  <p class="mb-0">Desarrollado por el Grupo 2 - Nodo Beta </p>
              </div>
          </div>
      </div>
  </div>
</footer>
