<app-navloginimg></app-navloginimg>
<div class="main-container">
  <div class="login-main_container">
    <div class="login-form">
        <button id="facebook" class="main-boton">
            <div class="boton-facebook">
                <div class="f-icono"><fa-icon [icon]="faFacebook"></fa-icon></div><div>Inicia sesión con Facebook</div>
            </div>
        </button>
        <button id="gmail" class="second-boton">
            <div class="boton-gmail">
                <div class="g-icono"><fa-icon [icon]="faGooglePlus"></fa-icon></div><div class="div-p">Inicia sesión con Google</div>
            </div>
        </button>
        <p class="mid"><fa-icon [icon]="faMinus"></fa-icon></p>
        <input id="usuario" type="text" class="form-control" name="username" placeholder="Usuario o correo">
        <input id="contraseña" type="password" class="form-control" name="password" placeholder="Contraseña">
        <br>
        <button id="boton" class="third-boton">Inicia sesión</button>
        <br>
        <div>
            <a class="forgot-pasword">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="div-register">
          <p>¿No tienes una cuenta?</p><a routerLink="/register">Regístrate</a>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

