<app-navlogin></app-navlogin>
<section class="main-div">
  <div class="central">
    <h2>Curso</h2>
    <div routerLink="/cursos" class="volver">
      <fa-icon [icon]="faArrowLeftLong" class="faarrow"></fa-icon>
    </div>
    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fugit quae voluptatibus at cumque animi. Porro repudiandae nobis rem totam consectetur corrupti laborum nesciunt eaque sint, et reprehenderit amet! Non!</p>
    <div class="canti">
      <div>
        <span><h5>Clases:</h5> 20</span>
      </div>
      <div>
        <span><h5>Valor:</h5> 50.000$</span>
      </div>
    </div>
    <a routerLink="/cursos/info/curso" class="btn btn-light">Ir al curso</a>
  </div>
</section>
<app-footer></app-footer>
